@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_bold-webfont.woff2') format('woff2'),
        url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_book-webfont.woff2') format('woff2'),
        url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_light-webfont.woff2') format('woff2'),
        url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_regular-webfont.woff2') format('woff2'),
        url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_thin-webfont.woff2') format('woff2'),
        url('../fonts/bebas_neue/webfontkit-20210311-044614/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}